@media only screen and (max-width: 500px) {
  
  
}

@media only screen and (min-width: 500px){

}



body {
  font-family : Verdana;
  font-size : 90%;
}
form {
  padding:10px;
  width:280px;
}
fieldset {
border : 2px solid RED;
padding:0 20px 20px;
border-radius:16px;
}

legend {
  color : #DF3F3F;
  font-weight: bold;
}

#remplissage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#intro {
  font-family: Verdana;
  font-size: 70%;
}

#gauche {
  display : flex;
  flex-direction: column;
  justify content: flex-start;
  align-items: center;
}

#droite {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
