

body{
    position: relative;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
}



header{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: red;
    height: 50px;
}
header #menuDeroulant{
  position: absolute;
  left: 18px;
  top: 5px;
}


@media all and (max-width: 1219px) {
  header #imageBanniere{
    top: -20px;
    left: 50%;
  }

  header ul {
    margin: 0;
    padding: 0;
    position: absolute;
    left: -999px;
    top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    background-color: #DCDCDC;
    Border: 2px black solid;
    border-radius: 20px;
    width: 150px;
  }
  header #menuDeroulant:hover + ul{
    left: 8px;
  }
  header ul:hover{
    left: 8px;
  }

  header ul li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  header ul .border_bottom{
    Border-bottom: 1px black solid;
  }

  header ul li div {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  header ul li div img {
    margin-right: 10px;
  }

  header ul li a {
    width: 100%;
    text-decoration: none;
    color: red;
  }
}



@media all and (min-width: 1220px) {

  header #imageBanniere{
    top: -20px;
    left: 100px;
  }

  header #menuDeroulant {
    visibility: hidden;
  }

  header ul {
    padding-left: 229px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    height: 50px;
  }

  header ul li{
    height: 50px;
  }

  header ul li:hover {
    background-image: linear-gradient(red 57%, #ff8080);
    font-weight: bold;
  }

  header ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 5px 0 5px;
    width: 150px;
    height: 50px;
  }

  header ul li a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header ul li a div p {
    margin: 0;
    padding: 0;
  }
}






header img{
  display:flex;
  justify-content: center;
}
header #imageBanniere{
  border:2px solid red;
  position: absolute;
}




#EnTete
{
display: flex;
align-items: center;
}
#h
{
  width: 100%;
  font-size: 20px;
  display: flex;
  text-align: center;
}


footer a {
color: black;
font-family:"Arial Black";
text-decoration:none;
}

footer a:hover{
color: rgb(180,0,0);
font-weight: bold;  
}
footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  display: flex;
  flex-direction: row;
}
footer ul{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%
}
footer ul li{
  list-style: none;
  margin-right: 20px;
}
#copyright{
  display: flex;
  justify-content: flex-end;
}
#copyright li{
  color:white;
}


#main{
  margin-bottom: 23px;
}
.error{
  color: red;
}

