header
{
background-color:orange;
display: flex;
align-items: center;
}

main
{
display: flex;
}

main aside
{
  display: flex;
  justify-content: center;
  width:30%;
}

footer
{
background-color: grey;
}

#ribbon
{
  background-color:orange;
  display:flex;
  justify-content: flex-end;
}

#ribbon li
{
  list-style: none;
  padding:5px;
  margin-right:12px;
}

aside
{
  align-items: center;
  display: flex;
}

section
{
  display: flex;
  flex-direction: column;
}

.annonce
{
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid black ;
}

#h
{
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
