form
{
	display: flex;
	border: 1px black solid;
	font-family: Verdana ,"Arial", "Arial Black", "Times New Roman";
}
#titre
{
	font-size: 16px;
	font-family: Verdana ,"Arial", "Arial Black", "Times New Roman";
	text-align: center;
}
#titreRecherche
{
	font-family: Verdana ,"Arial", "Arial Black", "Times New Roman";
	text-align: center;
}