#conn
{
	Border: 1px red solid;
	font-family: Verdana ,"Arial", "Arial Black", "Times New Roman";
	text-align: center;
	position: absolute;
	top: 30%; left: 40%;
}
body
{
	font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
}