<!DOCTYPE html>
	<html>
		<head>
			<link href="static/connection.css" rel="stylesheet" type="text/css">
		</head>
		<form action="?page=connexion" method="post" id="conn">
			<div><!--la petite case pour le login-->
				<label for="nom">Nom :</label>
				<input type="text" id="nom" name="identifiant"/>
			</div>
			<div><!--la petite case pour le MDP-->
      		  <label for="mdp">Mot de passe :</label>
      		  <input type="password" id="mdp" />
   			</div>
   			<input type="submit" value="valider"> 
   			<p>
				Nouveau contributeur? inscrivez-vous <br/>
				<a href="adresse ou fichiers dans le dossier" style="font-family: Verdana,'Arial', 'Arial Black','Times New Roman';font-size: 12px">Mot de passe oublié?</a><!--code css pour afficher la phrase en plus petit-->
			</p>
		</form>
	</html>