<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Erreur</title>
		<link rel="stylesheet" href="static/erreur/style.css" />
	</head>

	<body>	
		
		<h1>Oups ! Nous n'avons pas pû vous valider votre email !</h1>
		
		<p>
			Si ce problème persite veuillez contacter l'administrateur : <a href="mailtocontact.error404.msf@gmail.com?subject=Contact Admin MSF">Cliquez ici</a>
			
			</br>
			Ou à cette adresse : contact.error404.msf@gmail.com
		</p>
		<div>
			<form>
				<input id="submit" type="submit" value="Retourner vers l'accueil" action="<?php echo(SOUS_DOMAINE); ?>"/>
				<input id="submit" type="submit" value="Renvoyer le mail" action="<?php echo(Activation); ?>" />
			</form>
		</div>
	</body>
</html>
