<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>InternalError</title>
		<link rel="stylesheet" href="static/erreur/style.css" />
	</head>

	<body>	
		
		<h1>Oups ! Vous n'avez pas les droits !</h1>
		
		<p>
			Si ce problème persite veuillez contacter l'administrateur : <a href="mailtocontact.error404.msf@gmail.com?subject=Contact Admin MSF">Cliquez ici</a>
			
			</br>
			Ou à cette adresse : contact.error404.msf@gmail.com
		</p>
		<div>
			<form method = "get" action="<?php echo(SOUS_DOMAINE); ?>">
				<input id="submit" type="submit" value="Retourner vers l'accueil"  />
			</form>
		</div>
	</body>
</html>
