<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Localisation</title>
</head>

<body>
<!--<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/search?q=isep&key=AIzaSyBzuxhbZK8yGxLufFia08XiIOdUMG8GG7g" allowfullscreen></iframe>-->

<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://maps.googleapis.com/maps/api/directions/json?origin=Disneyland&destination=Universal+Studios+Hollywood4&key=AIzaSyCrF5efixlmDvntqYXUbWMSuQP_TiyqnN8" allowfullscreen></iframe>

</body>
</html>
