<!DOCTYPE html>
<html>

    <head>
	    <meta charset="utf-8" />
	    <title>Médecin sans frontière</title>
	    <link rel="stylesheet" href="styleMSF.css"/>
    </head>
    <body>
    <div id="container">
	    
	    <h1>Error 404  pour MSF</h1>
	    <p>Bienvenue sur le site de msf</p>
	    <img src="images/msf.jpg" alt="le logo" title="Voici le logo de msf"/>
	    <p>Et voila un petit exemple de vidéo</p>
	    <div id="conteneur">
	    	<div class="element">Hitler est grand</div>
	    	<div class="element">Hitler est bon</div>
	    	<div class="element">Hitler est magnifique</div>
		</div>
	    <h2>Quelques citations pour vous mettre en jambes</h2>
	    <ul>
	    	<li>Politicien : cette sorte de gens dont l'unique et véritable conviction est l'absence de conviction, associée à une insolence importune et à un art éhonté du mensonge.</li>
	    	<li>La masse est instinctivement hostile à tout génie éminent. On a plus de chance de voir un chameau passer par le trou d'une aiguille que de découvrir un grand homme au moyen d'une élection.</li>
	    	<li>L'insécurité des salaires quotidiens est une des plus graves plaies de l'économie sociale.</li>
	    	<li>Ma fierté, c'est que je ne connais aucun homme d'Etat dans le monde qui ait plus le droit que moi de se prétendre le représentant de son peuple.</li>
	   	 	<li>Pour nous le Parlement n'est pas une fin en soi mais bien plutôt le moyen d'arriver à nos fins.</li>
	   	 	<li>Toute propagande efficace doit se limiter à des points fort peu nombreux et les faire valoir à coups de formules stéréotypées aussi longtemps qu'il le 	faudra, pour que le dernier des auditeurs soit à même de saisir l'idée.</li>
	    	<li>Jugez-moi, c'est vous que vous jugerez.</li>
	    	<li>Le succès est le seul juge ici-bas de ce qui est bon et mauvais.</li>
	    	<li>De quoi vivrait l'Eglise, si ce n'est du péché de ses fidèles?</li>
	    	<li>A toutes époques révolutionnaires, les événements ont été produits non par les mots écrits, mais par les mots parlés.</li>
	    </ul>
    
    </div>
    </body>
    </html>
