<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8" />
			<link href="static/signin/signin.css" rel="stylesheet" type="text/css">
		</head>

		<body>
			<form action="/signin.php" method="post" id="conn">
				<div><!--la petite case pour le login-->
					<label for="identifiant">Email ou pseudo :</label>
					<input type="text" id="identifiant" name="identifiant" />
				</div>
				<div><!--la petite case pour le MDP-->
      		  		<label for="mdp">Mot de passe :</label>
      		  		<input type="text" id="mdp" name="mdp"/>
   				</div>
   					<input type="submit" value="valider"> 
   				<p>
   					Nouveau contributeur ? <a href="/?page=signup">Inscrivez-vous</a><br/>
					<a href="adresse ou fichiers dans le dossier" style="font-family: Verdana,'Arial', 'Arial Black','Times New Roman';font-size: 12px">Mot de passe oublié?</a><!--code css pour afficher la phrase en plus petit-->
				</p>
			</form>
		</body>
	</html>