<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/navigation/style.css" />
		<meta charset="utf-8"/>
		<title>test nav</title>
	</head>
	
	<body>
	
	<header>
		<h1>Error404</h1>
		<ul>
		  <li class="menu"><a href="#">Accueil</a></li>
		  <li class="menu"><a href="#">Pages</a></li>
		  <li class="menu"><a href="#">Contact</a></li>
		  <li class="menu"><a href="#">Statistiques</a></li>
		</ul>
	</header>

	<div id="bloc_ecriture">
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</body>
	
</html>