<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Validation</title>
		<link rel="stylesheet" href="static/validation/style.css" />
	</head>

	<body>
		<h1>Merci, votre mail a bien été envoyé à notre équipe.</h1>

		<h1>Nous vous remercions de l'intérêt que vous porter à notre site. Vous aurez une réponse prochainement</h1>

		<div>
			<form method = "get" action="<?php echo(SOUS_DOMAINE); ?>">
				<input id="submit" type="submit" value="Retourner vers l'accueil"  />
			</form>
		</div>
	</body>
</html>
