#title{
	text-align:center;
	color:red;
}

#flexto{
	
	display: flex;
	flex-direction: row;
}
#formulaireInscription{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	Border: 1px black solid;
	border-radius: 20px;
	box-shadow: 6px 6px 0px black;
}