@charset "utf-8";
/* CSS Document */

table
{
    border-collapse: collapse;

}
td, th 
{
	border: 1px solid black;
	padding: 3px 15px;
	
}

#main
{
	font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	text-align: center;
}

#centrer
{
	width: 100%;
	display: flex;
	justify-content: center;
}

#main #recherche{
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 40px;
}
#main #recherche form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}
#chercher_adresse{
	border-top: 1px black solid;
}
#error_loc{
	color: red;
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
